
<!-- This is the view page for generating runsheets -->
<body>

<style media='screen' type='text/css'>
.zui-table {
    border: solid 1px #DDEEEE;
    border-collapse: collapse;
    border-spacing: 0;
    font: normal 13px Arial, sans-serif;
}
.zui-table thead th {
    background-color: #DDEFEF;
    border: solid 1px #DDEEEE;
    color: #336B6B;
    padding: 10px;
    text-align: left;
    text-shadow: 1px 1px 1px #fff;
}
.zui-table tbody td {
    border: solid 1px #DDEEEE;
    color: #333;
    padding: 3px;
    text-shadow: 1px 1px 1px #fff;
}
.zui-table-zebra tbody tr:nth-child(odd) {
    background-color: #fff;
}
.zui-table-zebra tbody tr:nth-child(even) {
    background-color: #EEF7EE;
}
.zui-table-horizontal tbody td {
    border-left: none;
    border-right: none;
}

section {
    width:900px;
    float:left;
    padding:10px; 
   text-align:justify;
}

</style>

<section>
	<div id="my routes">
		<% if @routes.size == 0 %>
			<div class="alert alert-info" role="alert">
	      		<p>No routes to show.</p>
	    	</div>
		<% else %>
			<h3> Viewing routes for: </h3>
			<% if @group.blank? %>
				<h2> Default Group Name </h2>
			<% else %>
				<h3><%= @group.name %></h3>
			<% end %>
			<% @routesHash.each_key do |key| %>
				<a name="route_<%= key.to_i %>"> </a>	
				<div class="troop">
					<div class="route-header">
					<h4>Run <%= key.to_i %></h4>
					</div>
					<% if @routesHash[key].size == 0 %>
						<div class="alert alert-info" role="alert">
							<p> No subscribers on this route </p>
						</div>
					<% else %>
						<div class="route-subscribers">
							<table class="zui-table zui-table-zebra zui-table-horizontal">
								<thead>
									<tr>
										<th>Sequence</th>
										<th>Status</th>
										<th>Service Notes</th>
										<th>Street</th>
										<th>Quantity</th>
										<th>Name</th>
										<th>ID</th>
										<th colspan="3"></th>
										<!--TODO Maybe Status and Service notes for maintinence-->
									</tr>
								</thead>
								<tbody>
									<% @routesHash[key].each do |subscriber| %>
										<tr>								
											<td height="12px" style="border-spacing: 12px;"><%= subscriber.visit_sequence %></td>
											<td height="12px" style="border-spacing: 12px;"><%= subscriber.maintenance_status.to_s %></td>
											<td height="12px" style="border-spacing: 12px;"><%= subscriber.service_note %></td>
											<td height="12px" style="border-spacing: 12px;"><%= subscriber.street_address %></td>
											<td height="12px" style="border-spacing: 12px;"><%= subscriber.qty %></td>
											<td height="12px" style="border-spacing: 12px;"><%= subscriber.name %></td>
											<td height="12px" style="border-spacing: 12px;"><%= subscriber.id %></td>
										</tr>
									<% end %>
								</tbody>
							</table>
						</div>
					<% end %>
				</div>
			<% end %>
		<% end %>
	</div>
</section>
</body>
