<div id="content">
    <div id="message">

    </div>
    <div id="route-header" class="row">
      <div class="col-md-5">
        <h2 id="route-name"><%= @route.name %></h2>
      </div>
      <div class="col-md-4">
      </div>
      <div class="col-md-3">
        <button id="begin_run_<%= @route.id %>">Begin Run!</button>
      </div>
    </div>
    <div id="route-content">
      <% @route.subscriptions.each do | sub |  %>
      <div id="subscriber_<%=sub.id %>" class="row subscriber">
        <div class="col-md-3">
          <input id="subscriber_<%=sub.id %>_checkbox" value="<%=sub.id %>"  type="checkbox" class="hide-unless-run task-complete-checkbox" />
        </div>
        <div class="col-md-6">
          <%= sub.street_address %>
        </div>
        <div class="col-md-3">
          <button >Add Maintenance Note</button>
        </div>
      </div>
      <div id="subscriber_<%=sub.id %>_info" style="display:none;" class="row subscriber_info">
        <div class="col-md-3">
          <%= sub.street_address %>
        </div>
        <div class="col-md-6">
          <%= sub.cell_phone %>
        </div>
        <div class="col-md-3">
          <%- sub.maintenance_notes %>
        </div>
      </div>
      <% end %>

    </div>
    <div id="route-footer">

    </div>
</div>
<script type="text/javascript">
  $(document).ready(function (){
      var run_progress_url = "<%= run_progress_url %>";
      var complete_task_url = "<%= set_task_url %>";
      var begin_run_url = "<%= begin_run_url %>";
      var end_run_url = "<%= end_run_url %>";


      var scouts = <%= raw(@route.group.troop_members.to_json) %>;
      var progress = <% if @route.runs_in_progress? %><%= raw(@route.runs_in_progress[0].to_json) %><% else %> undefined <% end %>
      var run; //Which run are we currently displaying information for.
      var run_is_started = false;

      function send_post(url, post, cb){
          if(cb == undefined) cb = handle_response
          $.ajax({
              type: "POST",
              url: url,
              data: post,
              success: cb,
              failure: cb
          })
      }

      function handle_response(data, status, jqXHR){
            //update_message(data["message"], data["type"])


      }

      function update_message(message, message_type){
          //Dispaly message in panel on display
          $("#message").html("<div class='alert alert-"+message_type+"'>"+message+"</div>");
          $("#message").attr('style', '');
          window.setTimeout(function(message, message_type){
              $("#message").fadeTo(500, 0).slideUp(500, function(){
                  $("#message").html("")
              });
          }, 5000);
      }

      function clear_message(){

      }


      function toggle_task_completion(sub_id){
          console.log("Toggle task:" + sub_id)
          post_data = {"run_id": run["id"], "sub_id":sub_id}
          if ($('#subscriber_'+sub_id+'_checkbox').is(':checked')){
              post_data["request"] = 'create'
              post_data["desc"] = get_task_on_text()
          }else{
              post_data["request"] = 'destroy'
          }

          send_post(complete_task_url, post_data)
      }


      function get_run_update(){
            console.log("Fetching run update")
            send_post(run_progress_url, {"run_id": run["id"]}, update_subscriptions)
      }

      function run_started(){
          run_is_started = true
          var hidden = $('.hide-unless-run').show()
      }

      function update_subscriptions(run_progress, status){
          if (run_progress == undefined) return;
          console.log(run_progress);
          for(var i = 0; i < run_progress["todo"].length; i++){
            $('#subscriber_'+run_progress["todo"][i]["id"]+'_checkbox').bootstrapToggle('off')
          }
          for(var i = 0; i < run_progress["done"].length; i++){
              $('#subscriber_'+run_progress["done"][i]["id"]+'_checkbox').bootstrapToggle('on')
          }
      }

      function get_task_on_text(){
          var hours = new Date().getHours();
          var hours = (hours+24-2)%24;
          var mid='am';
          if(hours < 12){ //At 00 hours we need to show 12 am
              return "Flag In"
          }
          else if(hours >= 12) {
              return "Flag Out"
          }
      }

      function get_task_off_text(){
          var hours = new Date().getHours();
          var hours = (hours+24-2)%24;
          var mid='am';
          if(hours < 12){ //At 00 hours we need to show 12 am
              return "Flag Out"
          }
          else if(hours >= 12) {
              return "Flag In"
          }
      }

      function setup(){
          $('.hide-unless-run').hide();
          //create subscription finish toggles.
          if (progress){
              run = progress
              run_started(); //update_subscriptions used as callback and requires status parameter.
          }
          //Set up subscription toggles.
          $(".task-complete-checkbox").bootstrapToggle({
              on: get_task_on_text(),
              off: get_task_off_text()
          })

          $('.task-complete-checkbox').on('change', function(event, state) {
              toggle_task_completion(this.value)
          });

          if (run_is_started){
              update_subscriptions(progress, 'success');
          }
          window.setInterval(function(){
              get_run_update()
              console.log("Run updated.")
          }, 2000);
      }


      setup();
  });
</script>