<% if @routes.blank? %>
  <div class="alert alert-info" role="alert">
    <p>No routes to show.</p>
  </div>
  <div class = "page" style="display: none;">grouppage</div>
<% else %>
    <div class="callouts">
      <% @routes.each do |route| %>
        <div class="callout">
        <a href="<%= view_route_url(route.id) %>">
          <h4 class=""><%= route.name %>&nbsp&nbsp<img src="<%= route.marker %>"></h4>
        </a>
        <p class=""><%= route.group.name %></p>
        </div>
      <% end %>
    </div>
  <div id="page" style="display: none;">routepage</div>
    <%= render partial: "routes_partial" %>
<% end %>
