<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag 'application' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tag %>
</head>
<body>
  <% unless defined?(@no_header) %>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        
        <!-- Collapsible header for mobile screen sizes. -->
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Boy Scouts Flags</a>
      </div>

   
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="<%= 'active' if current_page?(root_path) %>"><%= link_to "Home", root_path %></li>
          <% if signed_in? && current_user.admin? %>
            <!-- If we're an admin, give access to panel, invoices, and routes. -->
            <li><%= link_to "Admin", "/admin" %></li>
            <li><%= link_to view_invoices_url(:group_id => 1) do %> View Invoices<% end %></li>
            <li><%= link_to "Routes", view_routes_url %></li>
            <li><%= link_to view_groups_url(:id => current_user.id) do %> My Troops<% end%></li>
          <% elsif current_user && current_user.can_view_routes? %>
            <!-- Otherwise, only show routes to members. -->
            <li><%= link_to "My Routes", view_route_url(group_id: 1) %></li> <!-- TODO: remove hard-coded group once groups are required -->
          <% end %>   
        </ul>
        
        <!-- Show login and sign-up buttons when we're not logged in, but -->
        <!-- only show sign-out button when we are logged in. -->
        <% if signed_in? -%>
          <div class="navbar-right"><%= link_to "Logout", sign_out_path, :method => :delete, :class => "btn btn-danger navbar-btn" %></div>
        <% else -%>
          <div class="navbar-right">
            <%= link_to "Login", sign_in_path, :class => "btn btn-default navbar-btn" %>
            <%= link_to "Sign Up", sign_up_path, :class => "btn btn-default navbar-btn" %>
          </div>
        <% end -%>
      </div>
    </div>
  </nav>
  
  <div id="flash">
    <% flash.each do |key, value| -%>
      <div id="flash_<%= key %>"><%=h value %></div>
    <% end %>
  </div>
  <% end %>
  <%= yield %>
</body>
</html>
