<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag 'application' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tag %>
</head>
<body>
  <% unless defined?(@no_header) %>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        
        <!-- Collapsible header for mobile screen sizes. -->
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Boy Scouts Flags</a>
      </div>

   
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="<%= 'active' if current_page?(root_path) %>"><%= link_to "Home", root_path %></li>
          <% if can? :access, :rails_admin %>
            <!-- If we're an admin, give access to panel, invoices, and routes. -->
            <%= active_link_to 'Admin', "/admin", :wrap_tag => :li %>
            <%= active_link_to 'Routes', view_routes_url, :wrap_tag => :li %>
          <% elsif can? :access, :routes %>
            <% if can? :access, :troops %>
              <%= active_link_to 'My Troops', view_groups_url, :wrap_tag => :li %>
            <% end %>
            <!-- Otherwise, only show routes to members. -->
            <%= active_link_to 'My Routes', view_routes_url, :wrap_tag => :li %>
          <% end %>   
        </ul>
        
        <!-- Show login and sign-up buttons when we're not logged in, but -->
        <!-- only show sign-out button when we are logged in. -->
        <% if signed_in? -%>
          <div class="navbar-right"><%= link_to "Logout", sign_out_path, :method => :delete, :class => "btn btn-danger navbar-btn" %></div>
        <% else -%>
          <div class="navbar-right">
            <%= link_to "Login", sign_in_path, :class => "btn btn-default navbar-btn" %>
          </div>
        <% end -%>
      </div>
    </div>
  </nav>
  
  <div id="flash">
    <% flash.each do |key, value| -%>
      <div class="alert alert-warning" role="alert">
        <%=h value %>
      </div>
    <% end %>
  </div>
  <% end %>
  <%= yield %>
</body>
</html>
